body {
  background: linear-gradient(-45deg, #e5a273, #dec0aa, #dca96e, #f68360);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  max-width: 960px;
  margin: 10px auto;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App header {
  margin: 30px 0;
}
.App h1 {
  border: 1.3px solid rgba(255, 255, 255, 0.686);
  border-radius: 8px;
  padding: 12px;
  font-weight: 500;
  text-align: center;
 color:#3c1111bb;
  box-shadow: 0px 10px 10px rgba(0 0 0/ 5%);
}


.App footer {
  text-align: center;
  margin: 30px auto;
  color: #673e07;
  font-size: 14px;
}
.App footer a {
  color: #7f531a;
  font-weight: 500;
}
