body {
  background: rgba(175, 228, 226, 0.428);
  color: rgb(181, 56, 10);
}
.App header {
  margin: 30px 0;
}
.App h1 {
  font-size: 44px;
  color: rgb(230, 58, 6);
}
.App footer {
  text-align: center;
  margin: 30px auto;
}
